<!-- Belongs at: /_includes/navigation.html -->

<!-- Build the nav bar. -->
<nav>
    <ul>
    {% for entry in site.data.navigation %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        <li>
            {% if entry.url = "fakeLink" %}
                <b>{{entry.title}}</b>
            {% else %}
                <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            {% endif %}
            <ul>
                {% for sublink in sublinks %}
                <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>